:root {
    --main: #2f2f2f;
    --dark: #1f1f1f;
    --text: #efefef;
    --title: #8f8f8f;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('roboto/Roboto-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 10000% 10000%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text {
    margin: 2vmin 1vmin;
    color: var(--text);
    font-family: 'Roboto Light';
    font-size: 4vmax;
}

.date {
    margin: 2vmin 1vmin;
    padding: 4px 16px;
    color: var(--dark);
    background-color: var(--text);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto Thin';
    font-size: 3vmax;
}

.btn {
    margin: 2vmin 1vmin;
    padding: 4px 16px;
    color: var(--text);
    background-color: var(--main);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto Thin';
    font-size: 3vmax;
    transition: all 0.1s;
    -webkit-app-region: no-drag;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
    background-color: var(--dark);
}

.container {
    height: 100vh;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.confirm-box {
    width: 36vw;
    height: 28vh;
    background-color: var(--text);
    border-radius: 4px;
}

.confirm-text {
    color: var(--main);
}

.title {
    padding: 4px;
    color: var(--title);
    font-family: 'Roboto Light';
    font-size: 14px;
}

.line-container {
    display: flex;
    width: 100vw;
    height: 24px;
    background-color: var(--main);
}

.titlebar {
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar-btn {
    float: right;
    width: 24px;
    border: none;
    background-color: var(--main);
    background-image: url('img/cross.png');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    transition: all 0.1s;
}

.titlebar-btn:focus {
    outline: none;
    box-shadow: none;
}

.titlebar-btn:active {
    transform: scale(0.95);
    background-color: var(--dark);
}